body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    color: rgb(223, 144, 187);
  }

  .jalan {
    font-size: 50px;
    color: #f5f5f7;
  }

  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(https://img.freepik.com/free-vector/detailed-abstract-white-background_79603-1735.jpg?size=626&ext=jpg);
    background-size: cover;
    color: rgb(206, 118, 159);
    text-align: center;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 0px;
    font-size: 20px;
    margin-top: 0px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .btn-wrapper {
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(226, 136, 196, 0.9);
  }
  
  .logo {
    width: 124px;
    margin-top: 20px;
  }
